@{
    ViewBag.Title = "Home Page";
}

<!--*******************************First section starts here ****************************************-->
<div style="background-image: url('/content/static/images/banner2.png'); color: white;height:40em;position: relative;" class="container-fluid">
    <div class="row ml-5">
        <div class="col-sm-4 mt-5">
            <h1 style="font-size:6rem;" class="mt-5"> <span class="text-warning">TIME</span> TO GET <span class="text-warning">FIT</span></h1>
            <h5> Gymn is important to keep your life healthy</h5>
            <button type="button" class="btn btn-danger mt-5" onclick='window.location.href = "@Url.Action("Contact", "Home")"'>Contact now</button>
        </div>
        <div class="col-sm-6">

        </div>

    </div>

</div>
<!--*******************************First section ends here ****************************************-->

<!--*******************************Second section starts here ****************************************-->
<div style=" color: black">
    <div style="padding-right: 5%;padding-left: 5%;">
        <div class="row">
            <div class="col-sm-6 mt-4">
                <img src="/content/static/images/gymn_img2.png">
            </div>
            <div class="col-sm-6 mt-5">

                <h5>SCIENCE 2005</h5>
                <h1 class="text-warning">BEST EQUIPMENTS & FITNESS TRAINERS</h1>
                <p class="mt-5">
                    Gym is very important to maintain our health luptas sit fugit, sed quia cuuntur magni dolores eos qui rat ione volupta pleasure rationally encounter consequences that are extremely
                </p>

                <div class="row ml-5">
                    <ul class="col-sm-6">
                        <li>Builds Aerobic Power</li>
                        <li>Strong body Structure</li>
                    </ul>
                    <ul class="col-sm-6">
                        <li>Boots your Memory</li>
                        <li>Brng about resultful Sleep</li>
                    </ul>
                </div>
                <button type="button" class="btn btn-warning mt-5">Lets Get started</button>

            </div>


        </div>
    </div>

</div>


<!--*******************************Second section ends here ****************************************-->
<!--*******************************Third section starts here ****************************************-->
<div class="row container-fluid mt-4">
    <div class="col-sm-1"></div>
    <div class="col-sm-6 mt-5">
        <div class="row mt-5">
            <div class="col-sm-6">
                <h3 class="text-warning">Best Training</h3>
                <p>Best Training dolor sit consectetur adipiscing elit, sed do eiusmod temp incididunt ut labore et dolore</p>
            </div>
            <div class="col-sm-6">
                <h3 class="text-warning">Qualified Instructor</h3>
                <p>Qualified Instructor consectetur adipg elit, sed do eiusmod tempor incididu ut labore dolore are same magna</p>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-sm-6">
                <h3 class="text-warning">Latest Equipment</h3>
                <p>Latest equipment dolor consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
            </div>

            <div class="col-sm-6">
                <h3 class="text-warning">Award Winners</h3>

                <p>Award winner dolor sit consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
            </div>
        </div>

    </div>
    <div class="col-sm-1">

    </div>
    <div class="col-sm-3">
        <img src="/content/static/images/gymn_img3.jpg" style="height: 30rem;width: auto;">
    </div>

</div>

</div>


<!--*******************************Third section ends here ****************************************-->
<!--*******************************Fourth section starts here ****************************************-->
<div style="align-content: center;" class="mt-5">
    <div align="center">
        <h1 class="text-warning">CLASSES WE PROVIDE</h1>
        <p>
            Gym classes dolor sit amet, consectetur adipiscing elit, sed do eiod tempor
            didunt ut labore et dolore m et dolore magna aliqua minim niam
        </p>
    </div>

    <div class="card-deck ml-5 mr-5 mb-5" style="align-content: center;">
        <div class="card">
            <img class="card-img-top" src="/content/static/images/gymn_img4.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Body Building Class</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="/content/static/images/gymn_img9.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Fitness Class</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="/content/static/images/gymn_img10.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Cross Fit class</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
    </div>


    <div class="card-deck ml-5 mr-5" style="align-content: center;">
        <div class="card">
            <img class="card-img-top" src="/content/static/images/gymn_img6.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Yoga Class</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="/content/static/images/gymn_img8.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Martial Arts Class</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="/content/static/images/gymn_img7.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Cardio Class</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
    </div>

    <!--btn for the classes -->
    <div class="d-flex justify-content-center">
        <button class="btn btn-danger mt-4" onclick='window.location.href = "@Url.Action("Class_list", "Home")"'>More classes </button>
    </div>


</div>


<!--*******************************Fourth section ends here ****************************************-->
<!--*******************************Fifth section starts here ****************************************-->
<div class="text-center  mt-4">
    <h1 class="text-warning">PROFESSIONAL INSTRUCTORS</h1>
    <p>
        Gym classes dolor sit amet, consectetur adipiscing elit, sed do eiod tempor
        didunt ut labore et dolore m et dolore magna aliqua minim niam
    </p>
</div>


<!-- this section is for carousel card **********************-->

<section class="pt-5 pb-5 text-center">
    <div class="container">
        <div class="row">
            <div class="col-6">

            </div>
            <div class="col-6 text-right">
                <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                    <i class="fa fa-arrow-left"></i>
                </a>
                <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
                    <i class="fa fa-arrow-right"></i>
                </a>
            </div>
            <div class="col-12">
                <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">

                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">

                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="/content/static/images/gymn_instructor2.jpg">
                                        <div class="card-body">
                                            <h4 class="card-title">Robert Zane</h4>
                                            <p class="card-text">Body Building Trainer</p>

                                            <div class="d-flex justify-content-center pt-4">
                                                <a href="#" class="text-dark"><i class="fa-brands fa-facebook fa-2xl mr-3 ml-3"></i></a>
                                                <a href="#" class="text-dark"><i class="fa-brands fa-instagram fa-2xl mr-3 ml-3"></i></a>
                                                <a href="#" class="text-dark"><i class="fa-brands fa-twitter fa-2xl mr-3 ml-3"></i></a>
                                            </div>

                                            <div class="d-flex justify-content-center pt-4">
                                                <a href="#" class="text-warning"> View Profile</a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="/content/static/images/gymn_instructor5.jpg">
                                        <div class="card-body">
                                            <h4 class="card-title">Glassia Marcos</h4>
                                            <p class="card-text">Fitness Trainer</p>

                                            <div class="d-flex justify-content-center pt-4">
                                                <a href="#" class="text-dark"><i class="fa-brands fa-facebook fa-2xl mr-3 ml-3"></i></a>
                                                <a href="#" class="text-dark"><i class="fa-brands fa-instagram fa-2xl mr-3 ml-3"></i></a>
                                                <a href="#" class="text-dark"><i class="fa-brands fa-twitter fa-2xl mr-3 ml-3"></i></a>
                                            </div>

                                            <div class="d-flex justify-content-center pt-4">
                                                <a href="#" class="text-warning"> View Profile</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="/content/static/images/gymn_instructor3.png">
                                        <div class="card-body">
                                            <h4 class="card-title">Rahul Dravid</h4>
                                            <p class="card-text">Cardio Trainer</p>

                                            <div class="d-flex justify-content-center pt-4">
                                                <a href="#" class="text-dark"><i class="fa-brands fa-facebook fa-2xl mr-3 ml-3"></i></a>
                                                <a href="#" class="text-dark"><i class="fa-brands fa-instagram fa-2xl mr-3 ml-3"></i></a>
                                                <a href="#" class="text-dark"><i class="fa-brands fa-twitter fa-2xl mr-3 ml-3"></i></a>
                                            </div>

                                            <div class="d-flex justify-content-center pt-4">
                                                <a href="#" class="text-warning"> View Profile</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">

                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" src="/content/static/images/yoga_instructor2.jpg">
                                        <div class="card-body">
                                            <h4 class="card-title">Cloudia Meger</h4>
                                            <p class="card-text">Yoga Instructor</p>

                                            <div class="d-flex justify-content-center pt-4">
                                                <a href="#" class="text-dark"><i class="fa-brands fa-facebook fa-2xl mr-3 ml-3"></i></a>
                                                <a href="#" class="text-dark"><i class="fa-brands fa-instagram fa-2xl mr-3 ml-3"></i></a>
                                                <a href="#" class="text-dark"><i class="fa-brands fa-twitter fa-2xl mr-3 ml-3"></i></a>
                                            </div>

                                            <div class="d-flex justify-content-center pt-4">
                                                <a href="#" class="text-warning"> View Profile</a>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="/content/static/images/gymn_instructor10.jpg">
                                        <div class="card-body">
                                            <h4 class="card-title">Khabib Nurgamedov</h4>
                                            <p class="card-text">Martial Arts Instructor</p>

                                            <div class="d-flex justify-content-center pt-4">
                                                <a href="#" class="text-dark"><i class="fa-brands fa-facebook fa-2xl mr-3 ml-3"></i></a>
                                                <a href="#" class="text-dark"><i class="fa-brands fa-instagram fa-2xl mr-3 ml-3"></i></a>
                                                <a href="#" class="text-dark"><i class="fa-brands fa-twitter fa-2xl mr-3 ml-3"></i></a>
                                            </div>

                                            <div class="d-flex justify-content-center pt-4">
                                                <a href="#" class="text-warning"> View Profile</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <img class="img-fluid" alt="100%x280" src="/content/static/images/gymn_instructor4.jpg">
                                        <div class="card-body">
                                            <h4 class="card-title">Demetrious Johnson</h4>
                                            <p class="card-text">CrossFit Instructor</p>

                                            <div class="d-flex justify-content-center pt-4">
                                                <a href="#" class="text-dark"><i class="fa-brands fa-facebook fa-2xl mr-3 ml-3"></i></a>
                                                <a href="#" class="text-dark"><i class="fa-brands fa-instagram fa-2xl mr-3 ml-3"></i></a>
                                                <a href="#" class="text-dark"><i class="fa-brands fa-twitter fa-2xl mr-3 ml-3"></i></a>
                                            </div>

                                            <div class="d-flex justify-content-center pt-4">
                                                <a href="#" class="text-warning"> View Profile</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!--btn for the classes -->
                <div class="d-flex justify-content-center">
                    <button class="btn btn-danger mt-4" onclick='window.location.href = "@Url.Action("trainer", "Home")"'>See all teachers </button>
                </div>
            </div>



        </div>
    </div>
</section>
<!-- **************************88 the carousel card section ends here ***********************-->
<!--*******************************Fifth section ends here ****************************************-->
